.reportBody{
    display: inline-block;
    background-color: grey;
    width: 100vw;
    height: 100vh;
}

form{
    margin:30px;
    
}
form > div{
    margin: 5px;
}
.title{
    margin-left: 10px;
}

.partOne{
    padding-top: 10px;
    display: flex;
}

.partOne > div > select{
    background-color: white;
    outline: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 10px;
}

.partTwo{
    padding-top: 10px;
    display: flex;
}

.partTwo > div > .summary{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    outline: none;
}

.partTwo > div > .check{
    margin-top: 0px;
}

.partThree{
    padding-top: 10px;
    display: flex;
}
.partThree > div > textarea{
    margin-left: 43px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 800px;
    height: 80px;
    overflow-y: scroll;
    outline:none;
}
.partFour{
    padding-top: 10px;
    display: flex;
}
.partFour > div > textarea{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 800px;
    height: 80px;
    overflow-y: scroll;
    outline:none;
}

.partFive{
    padding-top: 10px;
    display: flex;
}

.partFive > div > select{
    background-color: white;
    outline: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

.partFive > div > input{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    width: 110px;
    height: 30px;
    margin: 5px;
}

.partSix{
    display: flex;
}

.partSix > div > select{
    background-color: white;
    outline: none;
    border-radius: 20px;
}

.partOne > div > input{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.buttons{
    padding-left: 10px;
}

.buttons > div > button{
    margin: 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 7px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 70px;
    height: 30px;
}

.buttons > div > button:hover{
    scale: 1.2;
}

.dd{
    margin:10px;
    margin-top: 15px;
}
.def{
    margin: 15px;
}